.questions-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.questions-container h2{
    font-size: 1em;
    color: var(--dark-blue);
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.questions-container .question{
    padding: 20px 0px;
    box-sizing: border-box;
    margin: 0px 80px;
    border-bottom: 1px solid var(--light-blue);
}
.questions-container button{
    padding: 15px 10px;
    width: 250px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: var(--main-purple);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    align-self: center;
    margin-top: 30px;
}

.questions-container button:hover{
    background-color: rgb(91, 45, 161);
}

.question .answers{
    display: flex;
    gap:40px;
}
.answer-item input[type='radio']{
    display: none;
}

.answer-item label{
    display: inline-block;
    padding: 3px 20px;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--dark-blue);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.answer-item input[type="radio"]:checked + label{
    background-color: var(--light-blue);
}

.loading{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}